body {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    background-image: url(images/header-bg.svg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    padding-top: 1vh;
}

ul {
    list-style-type: none;
}

.top-menu {
    height: 30%;
}

.top-menu input {
    display: none;
}

.top-menu span {
    display: none;
}

.menu-main {
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.menu-main a {
    font-style: normal;
    font-size: 1vw;
    font-weight: bold;
    line-height: 1.2vh;
    text-decoration: none;
    color: #ffffff;
}

.menu-main a:active {
    color: #E8C300;
}

h1, h2 {
    font-family: 'Acme', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

h1 {
    font-size: 8vw;
    margin: 1vh auto;
}

span {
    font-weight: bold;
    font-size: 1vw;
    line-height: 1.2vh;
    letter-spacing: 0.5em;
    text-transform: uppercase;
}

.header-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 65%;
    padding: 10vh;
}

.header-button {
    display: flex;
    justify-content: center;
    width: 60%;
    height: 8vh;
    margin: 2vh auto;
    padding-top: 1vh;
}

.header-button__book-table {
    background: #E8C300;
    border-radius: 0.32em;
    color: #ffffff;
    width: 16vw;
    height: 5vw;
    border: 0;
    font-weight: bold;
    font-size: 1vw;
    line-height: 1.4vh;
}

button.header-button__book-table:active {
    border: 0.0625em solid rgba(255, 255, 255, 0.5);
    border-radius: 0.32em;
    background: transparent;
}

.header-button__explore {
    border: 0.0625em solid rgba(255, 255, 255, 0.5);
    border-radius: 0.32em;
    background: transparent;
    color: #ffffff;
    width: 16vw;
    height: 5vw;
    margin-left: 6vw;
    font-weight: bold;
    font-size: 1vw;
    line-height: 1.4vh;
}

button.header-button__explore:active {
    background: #E8C300;
}

.rectangle {
    margin: 2vh;
    background: #E8C300;
    width: 8vw;
    height: 1vh;
    border-radius: 3.4em;
}

.about-us-book-a-table {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.about-us {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about-us__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.2vw;
    line-height: 1.5;
    margin-left: 5vw;
    margin-right: 5vw;
}

.about-us__img {
    margin-right: 5vw;
}

h2 {
    font-size: 3vw;
    line-height: 2.1vh;
    margin: 1vh auto;
}

.book-a-table {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.book-a-table__text {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.book-a-table__form {
    width: 55%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3em;
    row-gap: 1em;
}

.form-control {
    position: relative;
}

.form-control input {
    width: 100%;
    height: 5vh;
    display: block;
    border-radius: 0.32em;
    background: #E5E5E5;
    border: none;
    padding: 0.9375em;
    cursor: pointer;
}

.form-control input:focus {
    background: #ffffff;
    border: 0.0625em solid rgb(255, 187, 0);
    border-radius: 0.32em;
}

.form-control input:focus~label {
    display: none;
}

.form-control input:focus~i {
    display: none;
}

.form-control label {
    font-weight: normal;
    font-size: 1.05vw;
    line-height: 1.4vh;
    text-indent: 1.25em;
    color: rgba(51, 51, 51, 0.5);
    border-radius: 0.32em;
    cursor: pointer;
    display: block;
    position: absolute;
    left: 0.9375;
    top: 1vh;
}

.form-control i {
    font-weight: 900;
    font-size: 1.25vw;
    line-height: 1.4vh;
    color: rgba(51, 51, 51, 0.5);
    border-radius: 0.32;
    display: block;
    position: absolute;
    right: 0em;
    top: 0.5em;
}

.submit {
    position: relative;
    grid-column: 1/3;
}

.submit input {
    background: #E8C300;
    border-radius: 0.32em;
    display: block;
    width: 28.5vw;
    border: none;
    padding: 2em;
    cursor: pointer;
}

.submit input:focus {
    border: 0.32em solid rgba(255, 255, 255, 0.5);
    border-radius: 0.32em;
    background: transparent;
}

.submit input:focus~label {
    display: none;
}

.submit label {
    font-weight: bold;
    font-size: 1vw;
    line-height: 1.4vh;
    color: #ffffff;
    border-radius: 0.32em;
    cursor: pointer;
    display: block;
    position: absolute;
    left: 30%;
    right: 27%;
    top: 1.4em;
}

.info {
    margin: auto;
    font-size: 1vw;
    line-height: 1.1vh;
    color: rgba(51, 51, 51, 0.5);
    border-radius: 0.32em;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10vh;
}

.specialties {
    color: #ffffff;
    width: 100%;
    background-image: url(images/specialties-bg.svg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 10vh;
}

.chocolate-pancakes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5vw;
}

.chocolate-pancakes__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.2vw;
    line-height: 3vh;
    color: rgba(255, 255, 255, 0.9);
}

.contact-us {
    margin: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contact-wrapper {
    flex-direction: row;
}

.contact {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3em;
    row-gap: 1em;
}

.contact>.form-control {
    grid-row: 1;
}

.message {
    position: relative;
    margin-bottom: 1vh;
    grid-column: 1 / 4;
}

.message>input {
    display: block;
    width: 85.5vw;
    border-radius: 0.32em;
    background: #E5E5E5;
    border: none;
    padding: 5vh;
    cursor: pointer;
}

.message>label {
    font-weight: normal;
    font-size: 1.1vw;
    line-height: 1.4vh;
    text-indent: 1.25em;
    color: rgba(51, 51, 51, 0.5);
    border-radius: 0.32em;
    cursor: pointer;
    display: block;
    position: absolute;
    left: 15px;
    top: 14px;
}

.message input:focus {
    background: #ffffff;
    border: 0.0625em solid rgb(255, 187, 0);
    border-radius: 0.32em;
}

.message input:focus~label {
    display: none;
}

.contact__submit {
    grid-column: 1/4;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contact__submit input:focus {
    border: 0.0625em solid rgba(255, 255, 255, 0.5);
    border-radius: 0.32em;
    background: transparent;
}

.contact__submit input:focus~label {
    display: none;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10vh;
    background: rgba(0, 0, 0, 0.9);
}

.copyright {
    font-size: 1vw;
    line-height: 1.1vh;
    color: rgba(255, 255, 255, 0.5);
    border-radius: 0.32em;
}

@media screen and (max-width: 860px) {
    img {
        width: 100%;
        height: auto;
    }

    .header-button {
        height: auto;
    }

    .header-center {
        height: 100%;
    }

    .top-menu {
        height: 0;
        display: block;
        position: relative;
        top: 3.125em;
        left: 3.125em;
        z-index: 1;
        user-select: none;
    }

    .top-menu input {
        display: block;
        width: 2.5em;
        height: 2em;
        position: absolute;
        top: -0.4375em;
        left: -0.32em;

        cursor: pointer;

        opacity: 0;
        z-index: 2;
    }

    .top-menu span {
        display: block;
        width: 2.9vw;
        height: 0.33vh;
        margin-bottom: 0.32em;
        position: relative;
        background: #cdcdcd;
        border-radius: 0.1875‬em;
        z-index: 1;
        transform-origin: 0.25em 0em;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        opacity 0.55s ease;
    }

    .top-menu span:first-child {
        transform-origin: 0% 0%;
    }

    .top-menu span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    .top-menu input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-0.125‬em, -0.0625em‬);
        background: #232323;
    }

    .top-menu input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    .top-menu input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -0,0625‬em);
    }

    .menu-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        width: 18.75em;
        margin: -6.25em 0 0 -3.125em;
        padding: 3.125em;
        padding-top: 7.8125em;
        
        background: #ffffff;
        list-style-type: none;
        
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    .logo {
        display: none;
    }

    .menu-main a {
        color: #000000;
    }

    .menu-main li {
        padding: 0.625‬em 0;
        font-size: 1.9vw;
    }

    .top-menu input:checked ~ ul {
        transform: none;
    }

    .about-us {
        flex-direction: column-reverse;
    }

    .book-a-table {
        flex-direction: column;
    }

    .chocolate-pancakes {
        flex-direction: column;
    }
}

@media screen and (max-width: 2300px) {
    .header-button {
        height: 6.2vh;
    }
}
